@use "../abstract/variables" as *;
.btn{
    border:none;
    cursor: pointer;
    outline: none;
    font-size:1.8rem;
    font-weight: 600;
    text-transform: capitalize;
    display: inline-block;
    padding:1.5rem 8rem ;

    &--filled{
        background-color: $clr-secondary;
        &:link,
        &:visited{
            color:$clr-primary;
        }
      
  

    }
    &--sec{
        background-color: $clr-primary;
        color:$clr-neutral;
    }

}