@use "../abstract" as  *;

.cta{
    background-color:$clr-secondary;
    padding:5rem 6rem;

    margin-inline: auto;
    border-radius: 1rem;
    
    @include flex-center;
    flex-direction: column;
    gap:2rem;

   
 
}