@use "../abstract/variables" as *;
html{
    font-size: 62.5%;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

a{
  
    &:link,
    &:visited{
        text-decoration: none;
        font-size:1.8rem;
        color:$clr-primary;
    }
}

ul{
    list-style: none;
}
