@use "../abstract" as *;


p{
    font-size: 1.8rem;
    line-height: 1.4;
}


.txt{
    &--sec{
        font-weight: 800;
        color:$clr-primary;
        font-size: 2.4rem;
    }
    &--pri{
        color:$clr-txt;
        font-size: 1.9rem;
        width:36rem;
        line-height: 1.4;
    }
    &--sm{
        font-size:1.6rem;
    }
    &--m{
        font-size: 2rem;
    }
    &--l{
        font-size: 3rem;
    }
    &--xl{
        font-size: 3.4rem;
    }
}

.subheading{
    font-size:3.6rem;
    color:$clr-primary;
    text-transform: capitalize;
    text-align: center;
    &::after{
        content:" ";
        width:10rem;
        height:0.4rem;
        background-color: $clr-secondary;
        display: block;
        margin-inline: auto;
        margin-top:1rem;
    }

 
}