@use "../abstract" as *;

.flex{
   
    @include flex-row;
    gap:5rem;
    align-items: center;
}

.flex-col--xs{
    @include flex-col;
    gap:1.5rem;
}
.flex-col--s{

    @include flex-col;
    align-items: flex-start;
    gap:3rem;
}
.m-1{
    margin:1rem auto;
}
.m-5{
    margin:5rem auto;
}

.m-8{
    margin:10rem auto;
}
.mt-1{
    margin-top:1rem;
}
.mt-3{
    margin-top:3rem;
}
.clr-sec{
    color:$clr-secondary !important;
}
.clr-pri{
    color:$clr-primary !important;
}
.clr-txt{
    color:$clr-txt !important;
}
.flex-2{
    @include flex-row;
    gap:5rem;
}
.flex-1{
    @include flex-row;
    gap:2rem;
}


.txt--center{
    text-align: center;
    margin-inline:auto;
}
