@use "../abstract" as *;
.footer{
    text-align: center;
    background-color: $clr-primary;
    color:$clr-neutral;
    padding:2rem;
    &__cont{

        @include flex-row;
        gap:4rem;
        align-items: center;
        @include screen-md{
            justify-content: space-between;
         
            gap:0;
            padding:2rem 0rem;
        }
     

    }
    &__txt{
        font-size: 1.4rem !important;
        text-transform: capitalize;
       


    }

    

}

.footer .logo{
    color:$clr-neutral;

}
.logo{
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 0.3rem;
    z-index: 100;
    color:$clr-primary;
}
