@use "../abstract" as *;
.footer{
    text-align: center;
    background-color: $clr-primary;
    color:$clr-neutral;
    padding:2rem 0;
    &__cont{

        @include flex-row;
        gap:4rem;
        align-items: center;
        @include screen-md{
            justify-content: space-between;
         
            gap:0;
        }
     

    }
    &__txt{
        font-size: 1.4rem !important;
        text-transform: capitalize;
       


    }

    

}


.logo{
    font-size: 5rem;
}