@use "../abstract" as *;

.header{
    background-color:$clr-primary;
    padding:6rem 1rem;
    text-align: center;

    &__title{
        color:$clr-neutral;
        text-transform: capitalize;
        font-size: 4rem;

        &::after{
            content:" ";
            width:32rem;
            height:0.4rem;
            background-color: $clr-secondary;
            display: block;
            margin-inline: auto;
            margin-top:1rem;
        }
    }

    &__body{
        color:$clr-neutral;
        font-size: 1.6rem;
        margin-top:3rem;
        max-width: 36rem;
        margin-inline: auto;
        line-height: 1.4;
    }

}

