

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-col{
   display:flex;
    flex-direction: column;

}
@mixin flex-col-center{
    @include flex-center;
    flex-direction: column;
}

@mixin flex-row{
  display:  flex;
  justify-content: center;
    flex-wrap: wrap;
}

@mixin screen-l{
    @media(min-width:"60em"){
        @content;
    }
}

@mixin screen-md{
    @media (min-width:"48em"){
        @content;
    }
}

@mixin transition {
    transition: all 0.4s;
}
